gen-[0-9]*
.idea
bin/
build/
debug/
CMakeLists.txt.user
*spyder*
pull-work
pull-home
*.pyc
*.log
*.aux
*.aux.make
*.auxbbl.make
*.auxtarget.make
*.d
*.fls
*.log
*.out
*.out.make
*.toc
*.toc.make
*.temp
